    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* css reset ends */
    /* global */
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
    }
    
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .container2 {
        max-width: 600px;
        margin: 0 auto;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
    }
    
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    /* header */
    
    header {
        padding: 15px 0px;
        background-color: #243342;
    }
    
    .logo img {
        width: 120px;
        height: 40px;
    }
    
    .nav a {
        text-decoration: none;
        padding-left: 15px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
    /* cover */
    
    .cover {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: linear-gradient(to bottom, #2a4b55, #4d9f7e);
        color: white;
    }
    
    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 50px;
        padding-bottom: 50px;
    }
    
    .cover-text {
        padding-top: 50px;
    }
    
    .byline {
        font-size: 25px;
        padding-bottom: 130px;
    }
    /* portfolio */
    
    .portfolio-main {
        padding-bottom: 50px;
    }
    
    .portfolio-image {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .portfolio-header {
        color: #2c3e50;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        padding-top: 35px;
        text-transform: uppercase;
    }
    /* section three */
    
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    .section-three-left,
    .section-three-right {
        width: 50%;
    }
    
    .section-three-left {
        margin-bottom: 10px;
    }
    
    .section-three {
        color: #dff5e1;
        background-image: linear-gradient(to bottom, #2b4554, #4da07f);
        padding-bottom: 60px;
    }
    
    .sec3-btn-centre {
        padding: 10px 15px;
        text-align: center;
    }
    
    .sec3-btn a {
        text-decoration: none;
        color: #000000;
    }
    
    .sec3-btn-centre button {
        border: solid 2px #000000;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 35px;
    }
    /* form */
    
    .form-container {
        width: 500px;
        margin: 0 auto;
    }
    
    .form-section {
        padding-bottom: 50px;
    }
    
    .form-header {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        color: #2c3e50;
        text-transform: uppercase;
    }
    
    .name {
        width: 400px;
        padding: 10px;
        padding-bottom: 10px;
        margin: 10px;
        font-size: 18px;
        border: 0px;
        border-bottom: 1px solid #2c3e50;
    }
    
    .email {
        width: 400px;
        padding: 10px;
        padding-bottom: 10px;
        margin: 10px;
        font-size: 18px;
        border: 0px;
        border-bottom: 1px solid #2c3e50;
    }
    
    .phone {
        width: 400px;
        padding: 10px;
        padding-bottom: 10px;
        margin: 10px;
        font-size: 18px;
        border: 0px;
        border-bottom: 1px solid #2c3e50;
    }
    
    .message {
        width: 400px;
        padding: 10px;
        padding-bottom: 100px;
        margin: 10px;
        font-size: 18px;
        border: 0px;
        border-bottom: 1px solid #2c3e50;
    }
    
    .form-btn {
        font-size: 15px;
        padding: 12px 30px;
        font-weight: bold;
        background-color: #396D5E;
        color: white;
        font-weight: bold;
        border-radius: 7%;
        margin-right: 80%;
    }
    
    .btn-center {
        padding: 10px 15px;
        text-align: center;
    }
    /* map */
    
    .map-container {
        width: 800px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 80px
    }
    
    .map {
        background-color: #bdc7d2;
    }
    /* table */
    
    .table-container {
        width: 800px;
        margin: 0 auto;
    }
    
    .table-header {
        text-align: center;
        text-transform: uppercase;
        font-size: 35px;
        font-weight: bold;
        padding-top: 60px;
        padding-bottom: 40px;
    }
    
    table {
        margin-bottom: 50px;
        width: 100%;
    }
    
    th,
    td {
        padding: 20px;
        text-align: left;
    }
    
    .table1 {
        background-color: #1E2639;
        color: #275774;
        font-weight: bold;
    }
    
    .table2 {
        background-color: #323C50;
    }
    
    .table3 {
        background-color: #2B3346;
    }
    
    .table-title {
        color: #C65972;
        font-weight: bolder;
    }
    /* About */
    
    .about {
        background-color: #2C3E50;
    }
    
    .about-container {
        width: 700px;
        margin: 0 auto;
    }
    
    .about-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #E1F7E4;
    }
    
    .col {
        width: 30%;
    }
    
    h5 {
        padding-top: 50px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: 15px;
        text-align: center;
    }
    
    .about-social-padding {
        padding-bottom: 35px
    }
    
    .about-para,
    .about-social {
        text-align: center;
        padding-bottom: 50px;
        padding-top: 10px;
    }
    
    .fab {
        color: #dff5e1;
    }
    
    span {
        display: inline-block;
        border-radius: 50%;
        height: 23px;
        width: 23px;
        border: oldlace 1px solid;
        margin: 0 auto;
        padding-top: 2px;
    }
    /* footer */
    
    .footer-para {
        padding-top: 30px;
        text-align: center;
        background-color: #19242e;
        color: #dff5e1;
        padding-bottom: 30px;
        width: 100%;
    }
    /* responsive */
    
    @media all and (max-width:768px) {
        h1 {
            font-size: 20px;
        }
        .byline {
            font-size: 15px;
        }
        nav {
            display: none;
        }
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
        }
        .container2 {
            width: 90%;
        }
        .about-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            color: #E1F7E4;
            flex-direction: column;
        }
        .form-container {
            width: 100%;
        }
        .map-container {
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }
        .table-container {
            max-width: 100%;
            margin: 0 auto;
            /* margin-right: 10px; */
        }
        th,
        td {
            padding: 0px;
            text-align: left;
        }
        .about-container {
            width: 100%;
        }
        .section-three-left,
        .section-three-right {
            width: 100%;
            /* margin: 10px; */
        }
        .col {
            width: 100%;
        }
        .name,
        .email,
        .phone,
        .message {
            width: 90%;
        }
        .portfolio-header,
        h3,
        .form-header,
        h5,
        .table-header,
        .about-social-padding {
            font-size: 20px;
        }
    }